.h{
	text-align: center;
	text-decoration: underline;
	color: red;
	font-size:50px;
	text-decoration-color:green;
	text-decoration-style:double;
	text-transform:uppercase;
	text-shadow:2px 3px red;

}
.b{
	text-indent: 70px;
	text-align: justify;
	font-size:20px;
	font-weight:800;
	font-variant:small-caps;
}
a
{
	text-decoration:none;

}
.f{
	background-color:green;
	color:white;
}
.k{
border: 5px solid green;

outline: 5px dotted #ff0000;
outline-offset: 5px;
}

